# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/projectSettingsUpdater.xml
/contentModel.xml
/.idea.DontAskAboutThisShit.iml
/modules.xml
# Editor-based HTTP Client requests
/httpRequests/
